<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="testOnBorrow">true</property>
        <property name="validationQuery"> select 1</property>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:55000/postgres
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.connection.password">
            postgrespw
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.default_schema">information_schema</property>
        <mapping class="com.Hibernate.Users"/>
        <mapping class="com.Hibernate.GroupPU"/>


    </session-factory>
    </hibernate-configuration>
